<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">MODULES MAIN FEATURES</h2>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="logo.png"/>
        </div>
        <div class="oe_span12">
            <ul>
                <li>Supported large datas 100.000 each table products, customers ...(can up to 3 millions, contact US for supported to 3+ millions)
                </li>
                <li>Tracking all actions of pos sessions</li>
                <li>Daily report sale total by day, month</li>
                <li>Z-Report by cashiers, by date input</li>
                <li>Scan barcode of Lot serial number</li>
                <li>Auto suggestion lot name with product selected</li>
                <li>Quickly add partners, products and payment order</li>
                <li>Sale suggestion for cashiers fast selling products</li>
                <li>Re-directly odoo login of cashiers, waiters to POS screen</li>
                <li>Note to order</li>
                <li>Note to order line</li>
                <li>Cashiers can preview/print receipt without payment</li>
                <li>Booking, Delivery orders, sync ecommerce website order with pos</li>
                <li>Create internal transfer between stock locations</li>
                <li>Create purchase order</li>
                <li>Create sale order</li>
                <li>Cashiers, waiters can lock/unlock pos screen when leave shop, leave device use pos</li>
                <li>Allow customers partial payment orders, and next times will come back and payment full</li>
                <li>Display discount amount on order lines</li>
                <li>Allow pos admin set limit of amount discount so cashier can set</li>
                <li>Allow pos admin set many global discounts, and cashiers only choice discount</li>
                <li>Cashiers can use multi currency for payment order</li>
                <li>Link pos orders to manufacturing orders, auto manufacturing when product have quantity on hand out
                    of stock
                </li>
                <li>Print Voucher card to customer, scan voucher card</li>
                <li>Customers credit card, sale credit (add fund) to customer. Allow customer use credit card</li>
                <li>Customers wallet card, made journal keep money change when customer by, and use for next payment
                </li>
                <li>Product screen operation, allow pos admin (cashiers) can edi/create new products</li>
                <li>Loyalty/Reward program, allow admin set rule of loyalty plus point, and rule redeem point</li>
                <li>Sync between pos sessions, all screen of pos sessions will sync and the same orders and orders
                    detail
                </li>
                <li>Products can sell viva pack/combo, allow admin set product is pack/combo (1 pack will have many
                    products items)
                </li>
                <li>Products can still at many pos category</li>
                <li>Promotions program, allow cashiers can define many promotion for give gift ... to customers</li>
                <li>Auto complete search filter when pos sessions input at search box</li>
                <li>Allow pos admin re-config permissions rule of pos clients (hide/or dishide some function element pos
                    screen)
                </li>
                <li>Allow sync realtime between backend odoo with pos sessions (when backend change information of
                    customers, products, pricelist ... pos sessions data will change the same)
                </li>
                <li>Allow customers/cashiers can signature on receipt</li>
                <li>Allow pos sessions (sellers) can return products viva scanner or manual choice</li>
                <li>Cross selling</li>
                <li>Validation delete/edit/close session/remove order/add new order ... on pos screen ....</li>
                <li>Take away orders, allow cashiers save orders, and loads orders save before</li>
                <li>Invoices screen management: help you can management invoices, register payment, add credit
                    note....
                </li>
                <li>Show invoice number, tin, customer information on receipt</li>
                <li>POS orders management</li>
                <li>Re-print receipt of old order</li>
                <li>Allow return orders (return products) add credit note (covert to creadit card amount) for next use
                </li>
                <li>Backend office create order and assigned to Shop</li>
                <li>Sale price of price included taxes or not</li>
                <li>Customer screen, show detail order of customer</li>
                <li>Quickly add products, customers, payment ...</li>
                <li>POS auto default customer</li>
                <li>POS ticket setting font-size</li>
                <li>Support keyboard event</li>
                <li>Products filter multi branch stores</li>
                <li>Products sequence on POS product screen</li>
            </ul>
        </div>
    </div>
</section>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Please subscribe our youtube channel for get video how to use all futures</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://www.youtube.com/channel/UC3QNgFrKZJRDIpYrC3CvRww" target="_blank">
                        <i class="fa fa-youtube-play"></i> Subscribe (Youtube)
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">Get demo here</h2>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="demo.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
    </div>
</section>

<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">Supported large datas limited 100.000 products, customers</h2>
        <div class="oe_span12">
            <ul>
                <li>The original Odoo POS is very slow if you have a large number of products, which is very time-consuming and
            unproductive.</li>
                <li>Help cashiers fast open/reopen pos session (without loading times)</li>
                <li>Remove cache button: Clean pos database and reinstall</li>
                <li>It also scalable if you have a large number of orders and customers.</li>
                <li>Immediately synchronize changes without reload</li>
                <li>Adaptable with large number of records.</li>
                <li>Auto sync betweem backend and all pos sessions (update products, customers ...) by backend admin 2 mode (offline/online)</li>
                <li>When backend admin change products, customers... auto to sync all pos session online selling</li>
                <li>If pos session offline, when sessions online back, all datas changed will sync automatic</li>
                <li>We talked no json cache</li>
                <li>We talked no xlsx, csv... cache</li>
                <li>We talked no load background, keep POS work offline after first loading</li>
                <li>We talked no long time start session (only need range 15 ~ 20 second within 1 million rows)</li>
                <li>Work within small physical odoo system (1~2G RAM, 1 core CPU)</li>
            </ul>
        </div>
        <h2 class="oe_slogan">Module can supported to 5 millions each products, customers. Contact US if you need hight level</h2>
        <h2 class="oe_slogan">If Backend have import datas or have many change products, customers, click button for re-install database</h2>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="big_data.png"/>
        </div>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://youtu.be/ItY5kJRvwDY" target="_blank">
                        <i class="fa fa-youtube-play"></i> (Youtube) demo big datas
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Report analytic</h2>
        <h3 class="oe_slogan">Daily report sale analytic</h3>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="report_daily.png"/>
        </div>
        <h3 class="oe_slogan">Automate tracking all actions of your staff doing on pos</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="report_tracking_clients1.png"/>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="report_tracking_clients2.png"/>
        </div>
        <h3 class="oe_slogan">Sale analytic report by month, by sale persons, by shop locations</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="sale_report.png"/>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="sale_report2.png"/>
        </div>
    </div>
</section>

<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">Sort tables</h2>
        <div class="oe_span12">
            <ul>
                <li>Allow cashier sort by products, clients, invoices, pos orders, sale orders ....</li>
            </ul>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="sort01.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="sort02.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="sort03.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="sort04.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="sort05.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
    </div>
</section>

<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">Cash control</h2>
        <div class="oe_span12">
            <ul>
                <li>Allow cashier admin take money out, put money in, close balance</li>
                <li>Allow cashier can End of session, Validate Closing & Posting Entries</li>
            </ul>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="cash_control1.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="cash_control2.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="cash_control3.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="cash_control4.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="cash_control5.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="cash_control6.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
    </div>
</section>

<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">Nothing pos orders loss</h2>
        <div class="oe_span12">
            <ul>
                <li>With this feature, Pos Retail, will save pos orders 100% of the times and you will never
   lose a single order again because sometimes pos orders may get lost due to internet bad wifi connections or by switching browser in POS or things like that.</li>
                <li>by having this option cashiers may be able to backup current orders backend or to file so that orders may be easily restored in Pos again</li>
            </ul>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="backup_order01.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="backup_order02.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="backup_order03.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="backup_order04.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="backup_order05.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <div class="text-center">
                <h1><a href="https://www.youtube.com/watch?v=vCDqi8Zv2hU&feature=youtu.be" target="_blank">
                    <i class="fa fa-youtube-play"></i> Guide video
                </a></h1>
            </div>
        </div>
    </div>
</section>

<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">Add logo for multi shop</h2>
        <div class="oe_span12">
            <ul>
                <li>Allow admin add logo on receipt/ticket each shops</li>
                <li>If not set logo for pos config, auto get logo of company</li>
            </ul>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="shop_logo1.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="shop_logo2.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="shop_logo3.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="shop_logo4.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
    </div>
</section>

<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">Review receipt/ticket of customer before paid</h2>
        <div class="oe_span12">
            <ul>
                <li>Help cashier checking and monitoring order ticket before validate payment</li>
                <li>On customer/payment screen, cashier can see order list detail</li>
            </ul>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="review_receipt01.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="review_receipt02.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="review_receipt03.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
    </div>
</section>

<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">Security rules each cashiers</h2>
        <div class="oe_span12">
            <ul>
                <li>Allow cashier use numpad or not (checked=allowed)</li>
                <li>Allow cashier change quantity or not (checked=allowed)</li>
                <li>Allow cashier change discount or not (checked=allowed)</li>
                <li>Allow cashier change price or not (checked=allowed)</li>
                <li>Allow cashier add new order line or not (checked=allowed)</li>
                <li>Allow cashier remove order line or not (checked=allowed)</li>
                <li>Allow cashier add new order or not (checked=allowed)</li>
                <li>Allow cashier remove order or not (checked=allowed)</li>
                <li>Allow cashier add customer or not (checked=allowed)</li>
                <li>Allow cashier payment order or not (checked=allowed)</li>
            </ul>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="rules_each_cashier.png"/>
        </div>
    </div>
</section>

<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">Validation actions of cashiers</h2>
        <div class="oe_span12">
            <ul>
                <li>First you need go to Setting/Users: select user made to pos manager and input pos pass pin</li>
                <li>Required manager approve, input pos pass pin when cashiers click Payment button</li>
                <li>Required manager approve, input pos pass pin when cashiers click Remove order button</li>
                <li>Required manager approve, input pos pass pin when cashiers click Change Qty lines</li>
                <li>Required manager approve, input pos pass pin when cashiers click Change Disc lines</li>
                <li>Required manager approve, input pos pass pin when cashiers click Change price lines</li>
                <li>Required manager approve, input pos pass pin when cashiers click Change minus (+/-)</li>
                <li>Required manager approve, input pos pass pin when cashiers click close session</li>
            </ul>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="validation01.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="validation02.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="validation03.png"/>
        </div>
    </div>
</section>

<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">Promotions program</h2>
        <div class="oe_span12">
            <ul>
                <li>Discount each amount total of order</li>
                <li>Discount each category</li>
                <li>Discount each quantities product</li>
                <li>Buy pack/combo items discount some products</li>
                <li>Buy pack/combo items free (give gift to customer) some products</li>
                <li>Sale off products price each quantity</li>
                <li>Discount each specical category</li>
                <li>Discount lowest price</li>
                <li>Multi by discount x (%)</li>
                <li>Buy X free another items</li>
            </ul>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="promotion_01.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="promotion_02.png"/>
        </div>
    </div>
</section>

<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">Loyalty program</h2>
        <div class="oe_span12">
            <ul>
                <li>Allow cashier plus point to customers</li>
                <li>Allow customers use point payment</li>
                <li>Allow customers get gift</li>
                <li>Allow customers set discount</li>
            </ul>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="loyalty01.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="loyalty02.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="loyalty03.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="loyalty04.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="loyalty05.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="loyalty06.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="loyalty07.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray"/>
        </div>
    </div>
</section>

<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">Vourcher program</h2>
        <div class="oe_span12">
            <ul>
                <li>Allow cashier admin create voucher and give to customers</li>
                <li>Voucher code use discount on amount total order</li>
                <li>Voucher can apply to specical customer or any customer (public/private voucher)</li>
                <li>Vouchers have expired date. if expired date, could not use</li>
                <li>When customers used voucher and made order, voucher auto change state to used</li>
                <li>Cashiers admin can active/deactive voucher easy</li>
                <li>1 voucher can use many times</li>
                <li>Allow cashier create voucher when customer refund</li>
                <li>Voucher will use next payment of customer</li>
            </ul>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="voucher01.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="voucher02.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="voucher03.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="voucher04.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="voucher05.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="voucher06.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="voucher07.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="voucher08.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="voucher09.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="voucher10.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="voucher11.png"/>
        </div>
        <div class="oe_span12">
            <div class="text-center">
                <h1><a href="https://www.youtube.com/watch?v=IHRiQWrBrcs&feature=youtu.be" target="_blank">
                    <i class="fa fa-youtube-play"></i> Video how to use (Youtube)
                </a></h1>
            </div>
        </div>
    </div>
</section>

<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">Sale orders and Purchase orders</h2>
        <div class="oe_span12">
            <ul>
                <li>Allow cashier create sale orders / quotations</li>
                <li>Allow cashier create purchase orders</li>
            </ul>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="so_po_01.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="so_po_02.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="so_po_03.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="so_po_04.png"/>
        </div>
    </div>
</section>

<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">Accounting / Invoices configuration</h2>
        <div class="oe_span12">
            <ul>
                <li>Allow cashiers manager invoices</li>
                <li>Allow cashiers modify taxes of lines (add/remove)</li>
                <li>Allow cashiers add credit amount to customers</li>
                <li>Allow payment with multi currencies</li>
                <li>Allow cashiers send email invocie to customers</li>
                <li>Allow auto register payment when made order to invoice</li>
                <li>Allow cashier change invoice journal of pos orders</li>
                <li>Auto detect fiscal position of customers</li>
                <li>Show taxes amount of order lines</li>
            </ul>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="invoices01.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="invoices02.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="invoices03.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="invoices04.png"/>
        </div>
        <div class="oe_span12">
            <div class="text-center">
                <h1><a href="https://www.youtube.com/embed/B1c9pR2Tw0c" target="_blank">
                    <i class="fa fa-youtube-play"></i> Guide youtube
                </a></h1>
            </div>
        </div>
    </div>
</section>

<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">Discounts</h2>
        <div class="oe_span12">
            <ul>
                <li>Allow admin approve discounts set by cashiers</li>
                <li>Allow admin define discounts use on pos</li>
                <li>Allow cashiers set discounts on total amount order</li>
                <li>Allow cashiers set discounts each lines</li>
            </ul>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="discounts01.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="discounts02.png"/>
        </div>
    </div>
</section>

<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">Multi warehouses, multi locations, internal transfer</h2>
        <div class="oe_span12">
            <ul>
                <li>Allow cashier manager stock hand multi locations</li>
                <li>Allow cashier made orders with multi locations stock</li>
                <li>Allow cashier made internal transfer between locations</li>
                <li>Allow cashier admin update stock on hand each locations</li>
            </ul>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="warehouse01.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="warehouse02.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="warehouse03.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="warehouse04.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="warehouse05.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="warehouse06.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="warehouse07.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="warehouse08.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="warehouse09.png"/>
        </div>
    </div>
</section>

<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">Quickyly actions</h2>
        <div class="oe_span12">
            <ul>
                <li>Help cashiers fast payments, review daily report ....</li>
                <li>Allow switch product kanban view and list view</li>
                <li>Allow one click payment full order</li>
                <li>Allow fast add new customers</li>
                <li>Allow fast add new pos category</li>
                <li>Allow fast add new product</li>
                <li>Allow lock screen and unlock viva pos pin</li>
                <li>Allow print bill of current order still on screen</li>
                <li>Allow remove orders blanks lines</li>
            </ul>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="quickly_actions01.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="quickly_actions02.png"/>
        </div>
    </div>
</section>

<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">POS orders management</h2>
        <div class="oe_span12">
            <ul>
                <li>Management pos orders on pos screen</li>
                <li>Allow return orders or return some products of order</li>
                <li>Allow customers or cashiers note on orders</li>
                <li>Allow customers signature on order (payment with credit/master card)</li>
                <li>Allow set multi variant on lines</li>
                <li>Allow set guest number on order</li>
            </ul>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="pos_orders01.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="pos_orders02.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="pos_orders03.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="pos_orders04.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="pos_orders05.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="pos_orders06.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="pos_orders07.png"/>
        </div>
    </div>
</section>

<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">Products operation screen</h2>
        <div class="oe_span12">
            <ul>
                <li>Management all products</li>
                <li>Cashiers can change price, update quantity on hand</li>
                <li>Cashiers can change barcode, default code ...</li>
                <li>Display tooltip each products</li>
            </ul>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="product_operation1.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="product_operation2.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="product_operation3.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="product_operation4.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="product_operation5.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="product_tooltip01.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="product_tooltip02.png"/>
        </div>
    </div>
</section>

<section class="panel-heading">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px; color: black">
        <h2 class="oe_slogan">Partial orders</h2>
        <div class="oe_span12">
            <ul>
                <li>Allow customers come shop and made partial payment</li>
                <li>Later times, customers come back and partial payment order again or payment full</li>
            </ul>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="partial_paid00.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="partial_paid01.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="partial_paid02.png"/>
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="partial_paid03.png"/>
        </div>
        <div class="oe_span12">
            <div class="text-center">
                <h1><a href="https://www.youtube.com/embed/7zikJbVbqkg" target="_blank">
                    <i class="fa fa-youtube-play"></i> Guide youtube
                </a></h1>
            </div>
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Login pos with pos security pin</h2>
        <div class="oe_span12">
            <div style="background: white">
                <img src="login_screen01.png"
                     style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
            </div>
        </div>
        <div class="oe_span12">
            <div style="background: white">
                <img src="login_screen02.png"
                     style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Within left page</h2>
        <div class="oe_span12">
            <div style="background: white">
                <img src="within_leftpage.png"
                     style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
            </div>
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Without left page</h2>
        <div class="oe_span12">
            <div style="background: white">
                <img src="without_leftpage.png"
                     style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Products operation screen</h2>
        <div class="oe_span12">
            <div style="background: white">
                <img src="product_operation_screen01.png"
                     style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
            </div>
        </div>
        <div class="oe_span12">
            <div style="background: white">
                <img src="product_operation_screen02.png"
                     style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Sale orders screen</h2>
        <div class="oe_span12">
            <div style="background: white">
                <img src="sale_order_screen01.png"
                     style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
            </div>
        </div>
        <div class="oe_span12">
            <div style="background: white">
                <img src="sale_order_screen02.png"
                     style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Order with products list screen</h2>
        <div class="oe_span12">
            <div style="background: white">
                <img src="product_list_screen.png"
                     style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Customers/Suppliers screen</h2>
        <div class="oe_span12">
            <div style="background: white">
                <img src="customer_screen.png"
                     style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Payment screen</h2>
        <div class="oe_span12">
            <div style="background: white">
                <img src="payment_screen.png"
                     style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Responsive on tablet (tested on ipad 3,4 ...)</h2>
        <h3 class="oe_slogan">Order (products) screen</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="tablet_order.png"/>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="tablet_hide_left_pane.png"/>
        </div>
        <h3 class="oe_slogan">Payment screen</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="tablet_payment.png"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div>
        <h2 class="oe_slogan" style="color:#875A7B;">Performance of sale person per by lines</h2>
    </div>
    <div class="oe_spaced" style="padding-left: 64px; padding-right: 64px; font-size: 18px;">
        <img src="sale_for_multi_shop1.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        <img src="sale_for_multi_shop2.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        <img src="sale_for_multi_shop3.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        <img src="sale_for_multi_shop4.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
    </div>
</section>

<section class="oe_container">
    <div>
        <h2 class="oe_slogan" style="color:#875A7B;">Chat sessions, clients backend</h2>
    </div>
    <div class="oe_spaced" style="padding-left: 64px; padding-right: 64px; font-size: 18px;">
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                All clients backend and all sessions can chat together
            </div>
            <img src="pos_chat.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
    </div>
</section>

<section class="oe_container">
    <div>
        <h2 class="oe_slogan" style="color:#875A7B;">Fiscal position auto apply new taxes</h2>
    </div>
    <div class="oe_spaced" style="padding-left: 64px; padding-right: 64px; font-size: 18px;">
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Setup fiscal positions and taxes cover to new taxes
            </div>
            <img src="fiscal_position_auto_change_tax_config1.png"
                 style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
    </div>
    <div class="oe_spaced" style="padding-left: 64px; padding-right: 64px; font-size: 18px;">
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Add fiscal positions to pos config
            </div>
            <img src="fiscal_position_auto_change_tax_config2.png"
                 style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
    </div>
    <div class="oe_spaced" style="padding-left: 64px; padding-right: 64px; font-size: 18px;">
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                When pos sessions change fiscal postions, old taxes will remove and applying new taxes
            </div>
            <img src="fiscal_position_auto_change_tax.png"
                 style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
    </div>
</section>

<section class="oe_container">
    <div>
        <h2 class="oe_slogan" style="color:#875A7B;">Multi currency payment</h2>
    </div>
    <div class="oe_spaced" style="padding-left: 64px; padding-right: 64px; font-size: 18px;">
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star-spin"></i>
                If your shop have many customers difference use currency (EUR,USD ....) and your company have difference
                with currency of customer. This function help you covert from currency of customer to your company
                currency and post to Journal
            </div>
            <img src="12.multi_currency.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
    </div>
</section>

<section class="oe_container">
    <div>
        <h2 class="oe_slogan" style="color:#875A7B;">Customers credit card</h2>
    </div>
    <div class="oe_spaced" style="padding-left: 64px; padding-right: 64px; font-size: 18px;">
        <img src="credit1.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        <img src="credit2.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        <img src="credit3.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        <img src="credit4.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        <img src="credit5.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        <img src="credit6.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        <img src="credit7.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        <img src="credit8.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
    </div>
</section>

<section class="oe_container">
    <div>
        <h2 class="oe_slogan" style="color:#875A7B;">Customers wallet card</h2>
    </div>
    <div class="oe_spaced" style="padding-left: 64px; padding-right: 64px; font-size: 18px;">
        <img src="wallet1.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        <img src="wallet2.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        <img src="wallet3.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        <img src="wallet4.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        <img src="wallet5.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
    </div>
</section>


<section class="panel-heading oe_dark">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Product multi category</h2>
        <div class="oe_screenshot" style="text-align: center;">
            <img style="max-width: 100%" src="product_multi_pos_category.png"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div>
        <h2 class="oe_slogan" style="color:#875A7B;">Product multi category</h2>
    </div>
    <div class="oe_spaced" style="padding-left: 64px; padding-right: 64px; font-size: 18px;">
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                1 product have multi category, on pos screen, clients can see product anywhere category have added on
                product before
            </div>
            <img src="product_multi_pos_category.png"
                 style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
    </div>
</section>

<section class="oe_container">
    <div>
        <h2 class="oe_slogan" style="color:#875A7B;">Cross seeling</h2>
    </div>
    <div class="oe_spaced" style="padding-left: 64px; padding-right: 64px; font-size: 18px;">
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Setting product cross selling
            </div>
            <img src="cross_selling1.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Product have attribute cross selling active
            </div>
            <img src="cross_selling2.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Click and add extra products
            </div>
            <img src="cross_selling3.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
    </div>
</section>

<section class="panel-heading oe_dark">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Auto complete search customers, products, invoices, pos orders</h2>
    </div>
    <div class="oe_spaced" style="padding-left: 64px; padding-right: 64px; font-size: 18px;">
        <img style="max-width: 100%" src="auto_complete_search.png"/>
    </div>
</section>

<section class="oe_container">
    <div>
        <h2 class="oe_slogan" style="color:#875A7B;">Config permission (access rules) of pos clients</h2>
    </div>
    <div class="oe_spaced" style="padding-left: 64px; padding-right: 64px; font-size: 18px;">
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                POS setting and config
            </div>
            <img src="access_rules_config.png"
                 style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Example : disable all functions
            </div>
            <img src="access_rules_disable_all_functions.png"
                 style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Example : disable all remove order, payment and select customer
            </div>
            <img src="access_rules_disable_payment_remove_order.png"
                 style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
    </div>
</section>

<section class="panel-heading oe_dark">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Signature on order/receipt</h2>
        <div class="oe_screenshot" style="text-align: center;">
            <img style="max-width: 100%" src="signature_order_and_receipt.png"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div>
        <h2 class="oe_slogan" style="color:#875A7B;">Products Screen</h2>
    </div>
    <div class="oe_spaced" style="padding-left: 64px; padding-right: 64px; font-size: 18px;">
        <img src="product_screen.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
    </div>
</section>

<section class="oe_container">
    <div>
        <h2 class="oe_slogan" style="color:#875A7B;">Tax and fiscal position</h2>
    </div>
    <div class="oe_spaced" style="padding-left: 64px; padding-right: 64px; font-size: 18px;">
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Go to POS / Settings / Configs and checked to 3 fields
            </div>
            <img src="pos_tax_config.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Tax showed on order lines
            </div>
            <img src="pos_tax_order.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Tax show on receipt
            </div>
            <img src="pos_tax_receipt.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
    </div>
</section>

<section class="oe_container">
    <div>
        <h2 class="oe_slogan" style="color:#875A7B;">Rounding amount total of order</h2>
    </div>
    <div class="oe_spaced" style="padding-left: 64px; padding-right: 64px; font-size: 18px;">
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Setting Payment method (journal)
            </div>
            <img src="1.rounding_config.png" style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Add order, will rounding on amount total order
            </div>
            <img src="2.rounding_added_order.png"
                 style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Rounded on amount total order, made 999,99 to 1000
            </div>
            <img src="3.rounding_amount_paid.png"
                 style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Receipt show rounded amount
            </div>
            <img src="4.rounding_receipt.png"
                 style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
        <div style="background: white">
            <div class="alert alert-info">
                <i class="fa fa-star fa-spin"></i>
                Session show total amount rounded
            </div>
            <img src="5.rounding_session.png"
                 style="width: 100%; margin-bottom: 18px; border: 1px solid lightslategray">
        </div>
    </div>
</section>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Supported large datas of products, customers, invoices ... </h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://www.youtube.com/watch?v=xI4--OZYb9Q&t=16s" target="_blank">
                        <i class="fa fa-youtube-play"></i> Click and view on youtube
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Z-Report by cashiers, filter by date and by your pos clients</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://www.youtube.com/watch?v=WaGnoxMH-WA" target="_blank">
                        <i class="fa fa-youtube-play"></i> Click and view on youtube
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Quickly actions, help cashiers faster than for made order and payment</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://www.youtube.com/watch?v=3YV6TaZi4K4" target="_blank">
                        <i class="fa fa-youtube-play"></i> Click and view on youtube
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan" style="color:#875A7B;">Multi client pos user can work only one device POS, many waiters
            sharing the same POS terminal (including the hardware, pos session, and pos config)</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1>
                        <a href="https://www.youtube.com/watch?v=3YV6TaZi4K4" target="_blank">
                            <i class="fa fa-youtube-play"></i> Click and view on youtube
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan" style="color:#875A7B;">Support keyboard, change quantity, change price, payment ...</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1>
                        <a href="https://www.youtube.com/watch?v=blcOxin-pug" target="_blank">
                            <i class="fa fa-youtube-play"></i> Click and view on youtube
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan" style="color:#875A7B;">Sync between sesions</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1>
                        <a href="https://www.youtube.com/watch?v=YCHX-jAVMTQ" target="_blank">
                            <i class="fa fa-youtube-play"></i> Click and view on youtube
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Combo / Pack</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://www.youtube.com/watch?v=o9_zIpgpiH0" target="_blank">
                        <i class="fa fa-youtube-play"></i> Click and view on youtube
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Sale quantity pack</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://youtu.be/1h5dGaJ-YeM" target="_blank">
                        <i class="fa fa-youtube-play"></i> Click and view on youtube
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Auto default customer</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://youtu.be/48-qNUHryww" target="_blank">
                        <i class="fa fa-youtube-play"></i> Click and view on youtube
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Scan barcode of Lot serial number</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://youtu.be/8OaBDW-qxRs" target="_blank">
                        <i class="fa fa-youtube-play"></i> Click and view on youtube
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Sale price product filter by LOT of product</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://youtu.be/XgjBLuid-6M" target="_blank">
                        <i class="fa fa-youtube-play"></i> Click and view on youtube
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">How to return orders, return products</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://youtu.be/Oo3WfmBcHVw" target="_blank">
                        <i class="fa fa-youtube-play"></i> Click and view on youtube
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Dynamic taxes</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://youtu.be/aZx7X3x8pK0" target="_blank">
                        <i class="fa fa-youtube-play"></i> Click and view on youtube
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Global discount, limit discount by cashiers. </h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://youtu.be/FFwqMY28WCY" target="_blank">
                        <i class="fa fa-youtube-play"></i> Click and view on youtube
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Duplicate customers receipt</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://youtu.be/Ybb9ycoh6nc" target="_blank">
                        <i class="fa fa-youtube-play"></i> Click and view on youtube
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Sometime cashiers need to re-comment or suggestion some products to customers</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://youtu.be/LEWEysz0DCQ" target="_blank">
                        <i class="fa fa-youtube-play"></i> Click and view on youtube
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">When cashiers login odoo, auto redirect cashier to pos screen</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://youtu.be/E5pjO7lRvVc" target="_blank">
                        <i class="fa fa-youtube-play"></i> Click and view on youtube
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Cashiers put cash money in and take money out</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://youtu.be/dj69MADkzsI" target="_blank">
                        <i class="fa fa-youtube-play"></i> Click and view on youtube
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">How delete pos order have state is paid or invoice</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://youtu.be/hiasvSYlJ_A" target="_blank">
                        <i class="fa fa-youtube-play"></i> Click and view on youtube
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Margin analytic</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://youtu.be/cKPW5MJZNIw" target="_blank">
                        <i class="fa fa-youtube-play"></i> Click and view on youtube
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-heading oe_dark">
    <div class="alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">Fast search, auto complete search and suggestion items and click add items</h2>
        <div class="oe_row oe_spaced text-center">
            <div class="oe_span12">
                <div class="text-center">
                    <h1><a href="https://youtu.be/6cv8geDb1NU" target="_blank">
                        <i class="fa fa-youtube-play"></i> Click and view on youtube
                    </a></h1>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="panel-heading oe_dark">
    <div class="oe_row oe_spaced alert alert-info" style="padding:8px;font-weight: 200; font-size: 20px;">
        <h2 class="oe_slogan">WHY NEED TO BY THIS MODULE ?</h2>
        <div class="oe_span12">
            <ul>
                <li>Module very big, and support many futures for Point Of Sale</li>
                <li>Support big products, customers, invoices, sale orders ... 100k, 200k rows or more</li>
                <li>You will no need to by any modules of other developers, only by this module.
                    You have all in one Futures
                </li>
                <li>Only one install, only one payment and use forever for any devices, any systems, any databases</li>
                <li>Always free upgrade new version (not include database migrate)</li>
                <li>Always available 24/7 for support fix issues, bugs</li>
                <li>Always free requests futures made module better than</li>
                <li>Always free merge any ideas or your local modules to this module</li>
            </ul>
        </div>
    </div>
</section>


<div class="oe_row" style="background-color: violet;">
    <div style="margin-bottom:10px;" class="oe_slogan text-center">
        <div class="oe_span12">
            <h3 class="text-center" style="color: white; font-size:20px">Contact us for support, query,
                customization</h3>
        </div>
        <span>
           <a target="new" href="http://www.posodoo.com" style="color: blue !important;font-weight:bold;">Website</a> |
           <a href="mailto:thanhchatvn@gmail.com" style="color: blue !important;font-weight:bold;">Write us</a>

           <a target="new" href="https://apps.odoo.com/apps/modules/browse?author=TL%20Technology"
              style="color: blue !important;font-weight:bold;">My our modules</a> |
       </span>
    </div>
</div>




