<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan" style="color:#875A7B;">Seleccione Productos</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="img1.png"/>
        </div>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="img2.png"/>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan" style="color:#875A7B;">Ingrese cantidad a imprimir por producto</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="img3.png"/>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan" style="color:#875A7B;">Impresi&oacute;n</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="img4.png"/>
        </div>
    </div>
</section>
