<head>
    <meta name="description" content="Export Invoices Excel">
    <meta name="keywords" content="odoo, odooapps, account, export, export invoice">
    <meta name="author" content="iPredict IT Solutions Pvt. Ltd.">
</head>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Export<span style="color:#C3851F"> Invoices</h2>
        <div class="separator" style="display: block;width: 80px;height: 2px;margin: 15px auto 15px;background-color: #D08E22;position: relative; border: 1px solid #D08E22;"></div>
    </div>
</section>
<div style="border: 0;height: 4px;border-top: #ddd 1px solid;border-bottom: #ddd 1px solid;text-align: center;position: relative;clear: both;"></div>
<section class="oe_container">
    <div class="oe_span12" style="font-size: 15px;">
        <h4 class="oe_slogan">Available <span style="color:#C3851F"> Key Features</span></h4>
        <ul>
            <li>You can Export Invoices directly</li>
        </ul>
    </div>
</section>
<div style="border: 0;height: 4px;border-top: #ddd 1px solid;border-bottom: #ddd 1px solid;text-align: center;position: relative;clear: both;"></div>
    <div class="alert alert-warning mt16" style="padding:8px;font-weight: 300; font-size: 20px;text-align: center; color: black !important;background-color: #D08E22 !important;"><b>1. Export Invoices</b></div>
<div style="border: 0;height: 4px;border-top: #ddd 1px solid;border-bottom: #ddd 1px solid;text-align: center;position: relative;clear: both;"></div>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="invoice_report_menu.png" style="max-width: 80%;"/>
            <img class="oe_picture oe_screenshot" src="invoice_report_wiz.png" style="max-width: 80%;"/>
        </div>
    </div>
</section>
<section class="oe_container" id="ipredict_contactus">
    <div class="row oe_spaced">
        <div style="border: 0;margin: 40px 0;height: 4px;border-top: #ddd 1px solid;border-bottom: #ddd 1px solid;text-align: center;position: relative;clear: both;">
            <i style="color: #D08E22;background: #fff;text-align: center;display: inline-block;height: 50px;line-height: 50px;text-align: center;font-size: 30px;position: absolute;top: -25px;margin: 0 auto 0 -225px;"> Technical Help , Queries &amp; Support
            </i>
        </div>
        <div class="separator" style="display: block;width: 80px;height: 2px;margin: 15px auto 15px;background-color: #D08E22;position: relative; border: 1px solid #D08E22;"></div>
        <div class="row">
            <center>
                <p>For any other assistance related to the new Odoo feature, customization or Odoo Development.</p>
            </center>
            <div class="col-md-6 text-center">
                <img class="oe_picture" src="logo.png" style="margin: 16px 17% !important; max-width: 70% !important;" />
                <h2 style="letter-spacing: 18px;margin-left: 35px;">
                    <a target="new" href="https://www.facebook.com/ipredictitsolutions">
                      <i class="fa fa-facebook-square" style="font-size:30px; color: #3B5998 !important;"></i>
                    </a>
                    <a target="new" href="https://twitter.com/iPredict_It">
                      <i class="fa fa-twitter-square" style="font-size:30px; color: #55ACEE !important;"></i>
                    </a>
                    <a target="new" href="http://ipredictitsolutions.com/www.linkedin.com/in/ipredict-it-solutions">
                      <i class="fa fa-linkedin-square" style="font-size:30px; color: #007bb5 !important;"></i>
                    </a>
                    <a target="new" rel="publisher" href="https://plus.google.com/u/3/109794111161325931553">
                      <i class="fa fa-google-plus-square" style="font-size:30px; color: #dd4b39 !important;"></i>
                    </a>
                </h2>
            </div>
            <div class="col-md-6 mt32">
                <a style="color: rgb(255, 255, 255); background-color: #EBA129; border: 1px solid #EBA129; position: relative; overflow: hidden;" class="btn btn-success btn-sm mt16 ml32" rel="nofollow" href="http://ipredictitsolutions.com/" target="_blank">
                    <i class="fa fa-globe"></i> Website
                </a>
                <br/>
                <a style="color: rgb(255, 255, 255); background-color: #E09A25; border: 1px solid #E09A25; position: relative; overflow: hidden;" class="btn btn-success btn-sm mt8 ml32" rel="nofollow" href="http://ipredictitsolutions.com/contactus" target="_blank">
                    <i class="fa fa-check-square"></i>  Request Customization 
                </a>
                <br/>
                <a style="color: rgb(255, 255, 255); background-color: #D08E22; border: 1px solid #D08E22; position: relative; overflow: hidden;" class="btn btn-success btn-sm mt8 ml32" rel="nofollow" href="mailto:ipredictitsolutions@gmail.com">
                    <i class="fa fa-envelope"></i> Support/Help! Send Mail
                </a>
                <br/>
                <a style="color: rgb(255, 255, 255); background-color: #2CA9DB; border: 1px solid #2CA9DB; position: relative; overflow: hidden;" class="btn btn-success btn-sm mt8 ml32" rel="nofollow" href="skype:live:ipredictitsolutions?chat">
                    <i class="fa fa-skype"></i> live:ipredictitsolutions
                </a>
            </div>
        </div>
    </div>
</section>
