<section class="oe_container oe_dark" style="overflow: hidden;
background: #efefef;
box-shadow: none;">
    <div class="mt32 mb32">
        <div class="col-md-12">
            <h2 class="oe_slogan" style="font-size: 35px;"><b>Website Popups With Inquiry</b></h2>
        </div>
    </div>
</section>

<section class="container mt32">
    <div class="row">
        <h4  style=" text-align: center;"><span> <a href="https://www.youtube.com/watch?v=Ckwcev0yDeI&feature=youtu.be" target="_blank" class="btn btn-sm btn btn-primary" ><span class="o_ripple" ></span><i class="fa fa-youtube-play"></i>
            Click here for the video tutorial
          </a></h4>
    </div>
</section>

<section class="oe_container oe_dark">
    <section class="oe_container oe_dark lead">
        <div class="oe_row">    
            <div class="oe_span12" style="width: 828px;">
            <div class="panel panel-primary" id="wkid0" style="border-color: #528df3 !important;">
            <div class="panel-heading" style="background-color: #528df3 !important;">
            <h3 class="panel-title" style="font-size: 25px;"><i class="fa fa-mail-forward"></i>Key Features:</h3>
            </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                    <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>This module is used to give Spontaneous PopUp window visitors on home page also when Scrolled Down page.</li>
                        <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>Pop-up window asks for basic details of visitors like Name, City, Email and Phone.</li>
                        <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>All submitted details will generate an inquiry mail will  be sent to company's Email address.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Website Pop-Up Window</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">This kind of spontaneous pop-up window will appear on your website's home page when visitors visits your websites. Example of pop-up window is shown below.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="1.png"><br/><br/>
            </div>
        </div>
    </section>

<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h3 class="text-info" style="font-size: 25px;">Once Pop-up appears on website visitors It asks some basic information which needs to be filled by the visitors which is shown in the Fig.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="2.png"><br/><br/>
            </div>
        </div>
    </section>

<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h3 class="text-info" style="font-size: 25px;">After filling up the details you will Land up to the Thank you Page.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="3.png"><br/><br/>
            </div>
        </div>
</section>
            
<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h3 class="text-info" style="font-size: 25px;">In BackEnd process, For every details that has been filled by each visitor which is shown above you will get an inquiry mail on company's Email address which will contain the information of visitor. The Example of Email is shown below.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="4.png"><br/><br/>
            </div>
        </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Free Support</h2>
            <h3 class="oe_slogan" style="font-size: 20px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
            <p class="oe_slogan">
        At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
            </p>
        </div>
    </div>
</section>

<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                <h2 class="oe_slogan">
           <a href="http://www.browseinfo.in" target="new">
                <img src="bi_logo.png">
            </a>
            <br>
                    <a href="sales@browseinfo.in" style="color: #000000 !important;">
                        Get Help &amp; Support</a>
                </h2>
            </div>
            <br>
            <div class="oe_slogan oe_spaced text-center">
                <a class="btn btn-success mt8" title="Website" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="http://www.browseinfo.in"> Website </a> <a class="btn btn-success mt8" title="Blog" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="http://www.blog.browseinfo.in"> Blog </a> <a class="btn btn-success mt8" title="Contact Us" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="mailto:sales@browseinfo.in"> Support </a> <a class="btn btn-success mt8" title="Request New Features now !" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="mailto:sales@browseinfo.in"> Request New Features </a>
            </div>
        </div>
    </section>

